### Google Palm LLM & API key setup

In [2]:
from langchain.llms.google_palm import GooglePalm

# Define your API key
api_key = 'AIzaSyCrE0zd0Q9DB70e1iWrcIYzkAT69ZnYu1w'

# Initialize the GooglePalm LLM with additional parameters if required
try:
    llm = GooglePalm(google_api_key=api_key, temperature=0.2)
    print("GooglePalm LLM initialized successfully.")
except Exception as e:
    print(f"Error initializing GooglePalm: {e}")

GooglePalm LLM initialized successfully.

### Connect with database and ask some basic questions

In [3]:
from langchain.utilities import SQLDatabase
from langchain_experimental.sql import SQLDatabaseChain

In [4]:
from langchain.utilities import SQLDatabase

# Define database connection details
db_user = "root"        # Database username
db_password = "root"    # Database password
db_host = "localhost"   # Database host (usually 'localhost' for local databases)
db_name = "data_tshirts"  # Name of the database to connect to

# Create a connection string using the database details
connection_string = f"mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}"

# Initialize the SQLDatabase instance
# This object will handle the connection to the SQL database
# The parameter 'sample_rows_in_table_info=3' indicates that 3 sample rows will be retrieved for table info
db = SQLDatabase.from_uri(connection_string, sample_rows_in_table_info=3)

# Print the table information from the database
# This will display the schema of the tables along with 3 sample rows from each table
print(db.table_info)

CREATE TABLE discounts (
	discount_id INTEGER NOT NULL AUTO_INCREMENT,
	t_shirt_id INTEGER NOT NULL,
	pct_discount DECIMAL(5, 2),
	PRIMARY KEY (discount_id),
	CONSTRAINT discounts_ibfk_1 FOREIGN KEY(t_shirt_id) REFERENCES t_shirts (t_shirt_id),
	CONSTRAINT discounts_chk_1 CHECK ((`pct_discount` between 0 and 100))
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from discounts table:
discount_id	t_shirt_id	pct_discount

*/


CREATE TABLE t_shirts (
	t_shirt_id INTEGER NOT NULL AUTO_INCREMENT,
	brand ENUM('Van Huesen','Levi','Nike','Adidas') NOT NULL,
	color ENUM('Red','Blue','Black','White') NOT NULL,
	size ENUM('XS','S','M','L','XL') NOT NULL,
	price INTEGER,
	stock_quantity INTEGER NOT NULL,
	PRIMARY KEY (t_shirt_id),
	CONSTRAINT t_shirts_chk_1 CHECK ((`price` between 10 and 50))
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from t_shirts table:
t_shirt_id	brand	color	size	price	stock_quantity
1	Nike	Red	L	50	12
2	Van Huesen	Black	L	12	90
3	Levi	Black	M	46	71
*/

In [5]:
# Initialize the SQLDatabaseChain with the SQLDatabase instance and the language model (llm)
# This chain allows for integration with the SQL database using the language model to generate and execute SQL queries
db_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True)

# Use the db_chain to run a query against the database
# In this example, we ask for the number of Nike t-shirts left in extra small size and white color
qns1 = db_chain("How many t-shirts do we have left for nike in extra small size and white color?")

c:\ProgramData\Anaconda3\lib\site-packages\langchain_core\_api\deprecation.py:119: LangChainDeprecationWarning: The method `Chain.__call__` was deprecated in langchain 0.1.0 and will be removed in 0.3.0. Use invoke instead.
  warn_deprecated(

> Entering new SQLDatabaseChain chain...
How many t-shirts do we have left for nike in extra small size and white color?
SQLQuery:SELECT stock_quantity FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS'
SQLResult:
Answer:12
> Finished chain.

##### correct answer ðŸ‘ðŸ¼

In [6]:
# Run a query to get the price of the inventory for all small size t-shirts
# This will execute the query using the db_chain and return the result
qns2 = db_chain.run("How much is the price of the inventory for all small size t-shirts?")

c:\ProgramData\Anaconda3\lib\site-packages\langchain_core\_api\deprecation.py:119: LangChainDeprecationWarning: The method `Chain.run` was deprecated in langchain 0.1.0 and will be removed in 0.3.0. Use invoke instead.
  warn_deprecated(

> Entering new SQLDatabaseChain chain...
How much is the price of the inventory for all small size t-shirts?
SQLQuery:SELECT SUM(price) FROM t_shirts WHERE size = 'S'
SQLResult: [(Decimal('304'),)]
Answer:304
> Finished chain.

##### It made a mistake here. The price is actually the price per unit but in real life database columns will not have perfect names. We need to tell it somehow that price is price per unit and the actual query should be, SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'

In [7]:
# This line calculates the total value of all 'S' sized t-shirts in the database.
qns2 = db_chain.run("SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'")

> Entering new SQLDatabaseChain chain...
SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'
SQLQuery:SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'
SQLResult: [(Decimal('19659'),)]
Answer:19659
> Finished chain.

In [8]:
qns3 = db_chain.run("If we have to sell all the Leviâ€™s T-shirts today with discounts applied. How much revenue our store will generate (post discounts)?")

> Entering new SQLDatabaseChain chain...
If we have to sell all the Leviâ€™s T-shirts today with discounts applied. How much revenue our store will generate (post discounts)?
SQLQuery:SELECT SUM(price * (1 - pct_discount)) FROM t_shirts JOIN discounts ON t_shirts.t_shirt_id = discounts.t_shirt_id WHERE brand = 'Levi' AND CURDATE() BETWEEN discounts.start_date AND discounts.end_date

OperationalError: (pymysql.err.OperationalError) (1054, "Unknown column 'discounts.start_date' in 'where clause'")
[SQL: SELECT SUM(price * (1 - pct_discount)) FROM t_shirts JOIN discounts ON t_shirts.t_shirt_id = discounts.t_shirt_id WHERE brand = 'Levi' AND CURDATE() BETWEEN discounts.start_date AND discounts.end_date]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

##### Above, it returned a wrong query which generated an error during query execution. It thinks discount table would have start and end date which is normally true but in our table there is no start or end date column. One thing we can do here is run the query directly.

In [9]:
sql_code = """
select sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id
 """

qns3 = db_chain.run(sql_code)

> Entering new SQLDatabaseChain chain...

select sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id

SQLQuery:select sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id
SQLResult: [(Decimal('29029.000000'),)]
Answer:29029
> Finished chain.

##### Now this is not much interesting because what is the point of giving it the ready made query? Well, we will use this same query later on for few shot learning

In [10]:
qns4 = db_chain.run("SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'")

> Entering new SQLDatabaseChain chain...
SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'
SQLQuery:SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'
SQLResult: [(Decimal('29029'),)]
Answer:29029
> Finished chain.

In [11]:
qns5 = db_chain.run("How many white color Levi's t shirts we have available?")

> Entering new SQLDatabaseChain chain...
How many white color Levi's t shirts we have available?
SQLQuery:SELECT stock_quantity FROM t_shirts WHERE brand = 'Levi' AND color = 'White'
SQLResult: [(15,), (90,), (19,), (86,), (70,)]
Answer:15
> Finished chain.

##### Once again above is the wrong answer. We need to use SUM(stock_quantity). Let's run the query explicitly. We will use the result of this query later on in the notebook

In [12]:
qns5 = db_chain.run("SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'")

> Entering new SQLDatabaseChain chain...
SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'
SQLQuery:SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'
SQLResult: [(Decimal('280'),)]
Answer:280
> Finished chain.

### Few shot learning
##### We will use few shot learning to fix issues we have seen so far

In [32]:
# Sample few_shots data as provided
few_shots = [
    {'Question' : "How many t-shirts do we have left for Nike in XS size and white color?",
     'SQLQuery' : "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS'",
     'SQLResult': "Result of the SQL query",
     'Answer' : qns1},
    {'Question': "How much is the total price of the inventory for all S-size t-shirts?",
     'SQLQuery':"SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'",
     'SQLResult': "Result of the SQL query",
     'Answer': qns2},
    {'Question': "If we have to sell all the Leviâ€™s T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)?" ,
     'SQLQuery' : """SELECT sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id
 """,
     'SQLResult': "Result of the SQL query",
     'Answer': qns3} ,
     {'Question' : "If we have to sell all the Leviâ€™s T-shirts today. How much revenue our store will generate without discount?" ,
      'SQLQuery': "SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'",
      'SQLResult': "Result of the SQL query",
      'Answer' : qns4},
    {'Question': "How many white color Levi's shirt I have?",
     'SQLQuery' : "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'",
     'SQLResult': "Result of the SQL query",
     'Answer' : qns5
     }
]

### Creating Semantic Similarity Based example selector
- Create embedding on the few_shots
- Store the embeddings in Chroma DB
- Retrieve the the top most Semantically close example from the vector store

In [33]:
from langchain.prompts import SemanticSimilarityExampleSelector
from langchain.embeddings import HuggingFaceEmbeddings
from langchain.vectorstores import Chroma

# Define the embeddings model
embeddings = HuggingFaceEmbeddings(model_name='sentence-transformers/all-MiniLM-L6-v2')

# Prepare data for vectorization
#   - Iterate over each example in 'few_shots' list
#   - Concatenate all values in the example into a single string
#   - Join the string elements with spaces
to_vectorize = [" ".join(str(value) for value in example.values()) for example in few_shots]

# Preprocess the metadata to ensure all values are strings, ints, floats, or bools
def preprocess_metadata(metadata):
    preprocessed_metadata = {}
    for key, value in metadata.items():
        if isinstance(value, dict):
            preprocessed_metadata[key] = str(value)
        else:
            preprocessed_metadata[key] = value
    return preprocessed_metadata

# Apply preprocessing to the few_shots metadata
preprocessed_metadata = [preprocess_metadata(example) for example in few_shots]

# Create a Chroma vector store
vectorstore = Chroma.from_texts(to_vectorize, embeddings, metadatas=preprocessed_metadata)

vectorstore

c:\ProgramData\Anaconda3\lib\site-packages\huggingface_hub-0.23.0-py3.8.egg\huggingface_hub\file_download.py:1132: FutureWarning: `resume_download` is deprecated and will be removed in version 1.0.0. Downloads always resume when possible. If you want to force a new download, use `force_download=True`.

In [34]:
# Define a SemanticSimilarityExampleSelector object
example_selector = SemanticSimilarityExampleSelector(
    vectorstore=vectorstore,  # Pass the created Chroma vector store
    k=2,                      # Retrieve 2 most similar examples
)

# Select examples based on a query
example_selector.select_examples({"Question": "How many t-shirts do we have left for Nike in XS size and white color?"})

[{'Answer': "{'query': 'How many t-shirts do we have left for nike in extra small size and white color?', 'result': '12'}",
  'Question': 'How many t-shirts do we have left for Nike in XS size and white color?',
  'SQLQuery': "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS'",
  'SQLResult': 'Result of the SQL query'},
 {'Answer': "{'query': 'How many t-shirts do we have left for nike in extra small size and white color?', 'result': '12'}",
  'Question': 'How many t-shirts do we have left for Nike in XS size and white color?',
  'SQLQuery': "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS'",
  'SQLResult': 'Result of the SQL query'}]

In [35]:
### my sql based instruction prompt
mysql_prompt = """You are a MySQL expert. Given an input question, first create a syntactically correct MySQL query to run, then look at the results of the query and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most {top_k} results using the LIMIT clause as per MySQL. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in backticks (`) to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use CURDATE() function to get the current date, if the question involves "today".

Use the following format:

Question: Question here
SQLQuery: Query to run with no pre-amble
SQLResult: Result of the SQLQuery
Answer: Final answer here

No pre-amble.
"""

In [36]:
from langchain.prompts import FewShotPromptTemplate # Import FewShotPromptTemplate from langchain.prompts
from langchain.chains.sql_database.prompt import PROMPT_SUFFIX, _mysql_prompt # Import PROMPT_SUFFIX and _mysql_prompt from langchain.chains.sql_database.prompt

print(PROMPT_SUFFIX) # Print the value of PROMPT_SUFFIX

Only use the following tables:
{table_info}

Question: {input}

### Setting up PromptTemplete using input variables

In [37]:
# Import PromptTemplate class from langchain.prompts.prompt
from langchain.prompts.prompt import PromptTemplate

# Define a PromptTemplate named 'example_prompt'
example_prompt = PromptTemplate(
    # Specify input variables for the template
    input_variables=["Question", "SQLQuery", "SQLResult","Answer",],
    # Define the template string with placeholders
    template="\nQuestion: {Question}\nSQLQuery: {SQLQuery}\nSQLResult: {SQLResult}\nAnswer: {Answer}",
)

In [39]:
print(_mysql_prompt)

You are a MySQL expert. Given an input question, first create a syntactically correct MySQL query to run, then look at the results of the query and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most {top_k} results using the LIMIT clause as per MySQL. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in backticks (`) to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use CURDATE() function to get the current date, if the question involves "today".

Use the following format:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here

In [40]:
# Define a FewShotPromptTemplate named 'few_shot_prompt'
few_shot_prompt = FewShotPromptTemplate(
    # Specify the example selector for retrieving similar examples
    example_selector=example_selector,
    # Define the template structure for examples
    example_prompt=example_prompt,
    # Set the prefix string for the overall prompt (likely from mysql_prompt)
    prefix=mysql_prompt,
    # Set the suffix string for the user input section (likely from PROMPT_SUFFIX)
    suffix=PROMPT_SUFFIX,
    # List the input variables used in prefix, suffix, and potentially the template
    input_variables=["input", "table_info", "top_k"],
)

In [41]:
# Create a new SQLDatabaseChain object named 'new_chain'
new_chain = SQLDatabaseChain.from_llm(
    llm,  # Large language model object
    db,   # Database connection object
    verbose=True,  # Enable verbose logging for debugging
    prompt=few_shot_prompt,  # Use the defined few-shot prompt template
)

In [42]:
new_chain("How many white color Levi's shirt I have?")

> Entering new SQLDatabaseChain chain...
How many white color Levi's shirt I have?
SQLQuery:SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'
SQLResult: [(Decimal('280'),)]
Answer:280
> Finished chain.

{'query': "How many white color Levi's shirt I have?", 'result': '280'}

In [43]:
new_chain("How much is the price of the inventory for all small size t-shirts?")

> Entering new SQLDatabaseChain chain...
How much is the price of the inventory for all small size t-shirts?
SQLQuery:SELECT sum(price*stock_quantity) as total_price from t_shirts where size = 'S'
SQLResult: [(Decimal('19659'),)]
Answer:19659
> Finished chain.

{'query': 'How much is the price of the inventory for all small size t-shirts?',
 'result': '19659'}

In [44]:
new_chain("How much is the price of all white color levi t shirts?")

> Entering new SQLDatabaseChain chain...
How much is the price of all white color levi t shirts?
SQLQuery:SELECT sum(price*stock_quantity) from t_shirts where brand = 'Levi' and color = 'White'
SQLResult: [(Decimal('9250'),)]
Answer:9250
> Finished chain.

{'query': 'How much is the price of all white color levi t shirts?',
 'result': '9250'}

In [45]:
new_chain("If we have to sell all the Nikeâ€™s T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)?")

> Entering new SQLDatabaseChain chain...
If we have to sell all the Nikeâ€™s T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)?
SQLQuery:SELECT sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Nike'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id
SQLResult: [(Decimal('18254.000000'),)]
Answer:18254
> Finished chain.

{'query': 'If we have to sell all the Nikeâ€™s T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)?',
 'result': '18254'}

In [46]:
new_chain("If we have to sell all the Van Heuson T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)?")

> Entering new SQLDatabaseChain chain...
If we have to sell all the Van Heuson T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)?
SQLQuery:SELECT sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Van Huesen'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id
SQLResult: [(Decimal('25254.000000'),)]
Answer:25254
> Finished chain.

{'query': 'If we have to sell all the Van Heuson T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)?',
 'result': '25254'}

In [47]:
new_chain.run('How much revenue  our store will generate by selling all Van Heuson TShirts without discount?')

> Entering new SQLDatabaseChain chain...
How much revenue  our store will generate by selling all Van Heuson TShirts without discount?
SQLQuery:SELECT sum(price*stock_quantity) as total_revenue from t_shirts where brand = 'Van Huesen'
SQLResult: [(Decimal('25254'),)]
Answer:25254
> Finished chain.

'25254'